@import url('https://fonts.googleapis.com/css?family=Paytone+One&subset=latin-ext');

/* Tady je magie a jednorožci */
html { box-sizing: border-box; }
*, ::before, :after { box-sizing: inherit; }


body {
	font-family: 'Paytone', sans-serif;
	font-size: 18px;
	max-width: 45rem;
	margin: 3rem auto;
}
